@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');
@import url('dashboard-sidebar.css');

:root{
    --purple: #4c3e9e;
    --white: white;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}

.main-content{
    transition: margin-left 300ms;
    margin-left: 345px;
    padding: .5rem 6rem;
    min-width: 250px;
}

.header{
    height: 85px;
}

.hamburger{
    font-size: 1.5rem;
    color: var(--purple);
    cursor: pointer;
}

.heading{
    color: var(--purple);
    font-size: 1.5rem;
}

.searchbar{
    align-self: flex-end;
    border: 1px solid var(--purple);
    border-radius: 19px;
    padding: 1px;
    width: 40%;
    max-width: 250px;
    min-width: 150px;
}

#search{
    border:none;
    padding: 3px;
    width:80%;
    height: 22px;
    margin: 0 10px 0 20px;
    outline:none;
    font-size: .7rem;
}

.fa-search{
    background: var(--purple);
    color: #fff;
    padding: 4px;
    border-radius: 50%;
}

.divider{
    background: var(--purple);
    height: 2px;
    margin-bottom: 2rem;
}

form{
    color: rgba(0, 0, 0, 70%);
}

.title{
    font-size: 1.2rem;
}

label{
    font-size: .7rem;
    font-weight: 500;
}

.input-fields{
    border: 1px solid var(--purple);
    border-radius: 8px;
    padding: 5px 30px;
    outline: none;
}

.group>*{
    width: 40%;
}


.create-btn{
    background: var(--purple)!important;
    border-radius: 8px;
}

.modal-content{
    height: 200px;
    border-radius: 30px;
}

.modal-body{
    height:120px;
    font-size: 1.3rem;
    color:var(--purple);
}

.fa-check-circle{
    font-size: 40px;
}


@media screen and (max-width: 992px){
  
    .main-content{
        margin-left: 70px;
        padding: .5rem 3rem;
    }

}

@media screen and (max-width: 576px){

    .main-content{
        margin-left: 0;
    }

}

@media screen and (max-width: 375px){

    .main-content{
        padding: 1rem;
    }
}