@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');
@import url("navigation.css");

body {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    min-width: 260px;
}

.menu-bar {
    margin-bottom: 0!important;
    padding: 0 5vw;
}

.logo-img,
.logo-name{
    background: white;
}

.logo-name{
    color: #4C3E9E;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cont {
    margin-top: 3rem;
}

.img {
    max-width: 100%;
    height: auto;
    margin:0 auto!important;
}

a {
    text-decoration: none;
}


.nav,
.form{
    width: 100%
}

.form {
    
    margin-top: 1.5rem;
    
}

.form-control {
    margin-top: 20px;
    width: 80%;
}

.btn1 {
    width: 100%;
    margin-top: 35px;
    height: 40px;
    border: solid .25px;
    background-color: #4C3E9E;
    color: #fff;
    border-radius: 20px;
    transition: transform .5s;
}

.btn1:hover,
.btn1:active{
    color: white;
    background: #3d3180;
    transform: scale(.85);
}


.send {
    margin-top: 30px;
    text-align: center;
}

.account {
    color: #4C3E9E;
}


h6 {
    color:rgba(0, 0, 0, 0.57);
    margin-top: 1rem;
}


.heading {
    color: #4C3E9E;
    padding-top: 1rem;
    font-weight: 500;
}



p:before,
p:after {
  
  content: "";
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  min-width: 25%;
}


.input-field {
    border: none;
    margin: 0;
}

.form-field {
    display: flex;
    border: 1px solid rgba(76, 62, 158, 0.57);
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 7px;
    padding-left: .5rem;
    width: 100%; 
}

.send-btn{
    width: 100%;
}
.img{
    width: 50%;
    margin-right:0;
}

.img img{
    width: 100%;
}

.left{
    padding:1rem;
}


/* Responsiveness */
@media screen and (min-width:768px){
    .cont{
        flex-direction: row-reverse!important;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0 0 0!important;
    }

    .left{
        width: 45%!important;
        padding: 0 2rem;
    }

    .left .nav{
        flex-direction: column!important;
        align-items: flex-start!important;
    }
    .img{
        width: 50%!important;
    }

    .img img{
        margin-left: 3rem;
    }

    .button{
        flex-direction: row!important;
        justify-content: space-around!important;
        align-items: center!important;
    }
}