@import url('create-customer.css');

form label{
    color: var(--purple);
}

.input-fields{
    border: 1px solid rgba(0, 0, 0, 0.57);
}
#colorpicker{
    border: 1px solid rgba(0, 0, 0, 0.57);
    height: 30px;
    width: 30px;
}
